name: Poiji Build and Test
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        java: [ 17, 23 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: adopt
      - name: Build and Test project
        run: mvn clean -B package --file pom.xml -P coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
